<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.piruma_java">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="piruma-ecak"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.signin.SignInActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".filter.FilterActivity" />
        <activity android:name=".selectroom.SelectRoomActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.SignupActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".FormActivity"></activity>
    </application>

</manifest>